<!DOCTYPE html>
<html lang="en">
<head>
    @using System.Security.Claims;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DelegationsMVC.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-navbar  box-shadow  mb-3"  role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/ProAutomationLogo2.png" height="40" width="220" /></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse flex-sm-row-reverse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav navbar-collapse justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home iconItem"></i>
                                Home
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-car iconItem"></i>
                                Delegacje
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Delegation" asp-action="AddDelegation">
                                    <i class="fa fa-plus-square iconItem"></i>
                                    Stwórz
                                </a>
                                <a class="dropdown-item" asp-controller="Delegation" asp-action="CheckWhichUser">
                                    <i class="fas fa-list iconItem"></i>
                                    Twoja lista
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-id-badge iconItem"></i>
                                Profil
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Employee" asp-action="ViewEmployee">
                                    <i class="fa fa-eye iconItem"></i>
                                    Podgląd
                                </a>
                                <a class="dropdown-item" asp-controller="Employee" asp-action="EditEmployee">
                                    <i class="fa fa-user-edit iconItem"></i>
                                    Edytuj
                                </a>
                            </div>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Chief") || User.IsInRole("Accountant"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-users iconItem"></i>
                                    Pracownicy
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Employee" asp-action="Index">
                                        <i class="fa fa-address-book iconItem"></i>
                                        Lista pracowników
                                    </a>
                                    <a class="dropdown-item" asp-controller="Delegation" asp-action="Index">
                                        <i class="fa fa-car iconItem"></i>
                                        Lista delegacji
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" asp-controller="Destination" asp-action="Index" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-building iconItem"></i>
                                    Klienci
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" asp-controller="Destination" asp-action="Projects" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-project-diagram iconItem"></i>
                                    Projekty
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="UserRoles" asp-action="Index">
                                    <i class="fas fa-users iconItem"></i>
                                    Users
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" box-shadow footer text-muted bg-footer">
        <div class="container-fluid row">
            <div class=" col text-md-left">
                <i class="fas fa-copyright iconItem"></i>
                2021 - Delegation system
            </div>
            <div class="col text-md-center">
                Created by Milosz Rzepecki
            </div>
            <div class="col text-md-right">
                <a href="https://www.proautomation.pl/" style="color:white; text-decoration:none">
                    <i class="fas fa-home iconItem" style="font-size:1rem; padding-left:14px"></i>
                    Kontakt
                </a>
                
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
