/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.nav-link a:hover {
    background-color: white !important;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    word-break: break-all;
}

a.nav-link {
    color: white !important;
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    word-break: break-all;
    margin-right: 15px;
    margin-left: 15px;
}

button.nav-link {
    color: white !important;
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    word-break: break-all;
    margin-right: 15px;
    margin-left: 15px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #013A6B;
    background: linear-gradient(135deg, #32394e 1%, #cde4ef 14%,#cde4ef 30%, #6eb7cc 60%, #32394e 99% ) no-repeat;
    min-height: 500px;
}

.divLogin {
    position: relative;
    width: 350px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    overflow: hidden;
    background-color: grey;
    overflow: hidden;
    background-color: grey;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.divRadius {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: grey;
    overflow: hidden;
    background-color: grey;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}



.iconItem {
    color: white;
    padding-right: 7px;
}

th, td {
    text-anchor: middle;
    text-align: center;
    vertical-align: middle;
}

.special_column {
    width: 50px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}



.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    white-space: nowrap;
    line-height: 35px; 
    font-family: 'Nunito', sans-serif;
}
/*.copyright {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    width: 33%;
}

.about {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    width: 33%;
    text-align: center;
}

.services {
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    width: 33%;
    text-align: right;
}*/
/*Backgrounds*/
.bg-navbar {
    background-color: #32394e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #32394e;
}

.bg-footer {
    /*background: -webkit-linear-gradient(110deg, #252152 60%, #d0efff 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #d0efff 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #d0efff 60%);
    background: linear-gradient(110deg, #252152 60%, #d0efff 60%);
    background: -webkit-linear-gradient(bottom, #99ddfd,#ebf4f6);
    background: -moz-linear-gradient(bottom, #99ddfd,#ebf4f6);
    background: -o-linear-gradient(bottom, #99ddfd,#ebf4f6);
    background: linear-gradient(bottom, #99ddfd,#ebf4f6);*/
    background-color: #32394e;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 1px 25px 0 #32394e;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #32394e;
}

    .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: white;
    }

        .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
        .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
        .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
            color: white;
            background-color: #1aa8eb;
        }

.navbar-light .navbar-nav .active > .nav-link {
    color: red;
}
