@model DelegationsMVC.Application.ViewModels.EmployeeVm.ListEmployeeForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista pracowników</h1>

<table class="table table-bordered" id="table">
    <thead class=" thead-dark">
        <tr>
            <th>
                Imię i nazwisko
            </th>
            <th>
                Stanowisko
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.ActionLink("Details", "ViewEmployee", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
