@model DelegationsMVC.Application.ViewModels.EmployeeVm.ListEmployeeForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista pracowników</h1>
<br />
<table class="table table-bordered table-striped" id="table">
    <thead class=" thead-dark">
        <tr>
            <th style="text-align:center">
                Imię i nazwisko
            </th>
            <th style="text-align:center">
                Stanowisko
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
        <tr>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td style="text-align:center">
                <a class="btn btn-info btn-sm" href="@Url.Action("ViewEmployee", "Employee", new { id = item.Id })">Szczegóły</a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Employee", new { id = item.Id })">Usuń</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "pagingType": "full_numbers",
                 "language": {
                    "lengthMenu": "Pokaż _MENU_ pracowników na stronie",
                    "zeroRecords": "Brak pasujących pracowników",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak pracowników w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ liczby rekordów)",
                    "search": "Wyszukaj: ",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },

                },
                "columns": [
                    null,
                    null,
                    { "width": "20%", "orderable": false }
                ]
            });
        });
    </script>
}
