@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Twoje konto zostało aktywyowane.";
}

    <h3>Twoje konto zostało aktywowane.</h3>
    Możesz się swobodnie zalogować. 
    <a class=" btn btn-primary" href="Login">Zaloguj się</a>